<div class="form-new-restaurant">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name, label: 'Nom du restaurant' %>
    <%= f.input :address, label: "Addresse du restaurant (doit apparaître dans l'autocomplete)", id: 'restaurant_address'%>
    <%= f.input :poutine_price, label: 'Prix de la poutine classique (avant taxes)', class: "" %>
    <%= f.association :restaurant_category, input_html: { class: "pretty-radio-buttons" }, include_hidden: false, as: :radio_buttons, label: 'Catégorie du restaurant)', class: "" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Soumettre le restaurant", class: "btn btn-primary" %>
    <%= link_to "Annuler", root_path, class: "btn btn-secondary" %>
  <% end %>
</div>
