<h1>Restaurant</h1>

<h2>name: <%= @restaurant.name %></h2>
<div>id: <%= @restaurant.id %></div>
<div>category: <%= @restaurant.category %></div>
<div>price_index: <%= @restaurant.price_index %></div>
<div>address: <%= @restaurant.address %></div>
<br>

<h3>Ratings</h3>

<% if @reviews.blank? %>
  <p>Be the first to review this restaurant!</p>
<% else %>
  <% @reviews.each do |review| %>
    <div class="card p-3">
    <div>rating: <%= review.rating %></div>
    <div>title: <%= review.title %></div>
    <div>body: <%= review.body %></div>
    <div>upvotes: <%= review.upvotes %></div>
    </div>
    <br>
  <% end %>
<% end %>
<tr>


<%= render '/reviews/new', restaurant: @restaurant, review: @review %>
