<div class="banner-restaurant restaurant-show">
  <div class="banner-restaurant-photos">
    <div class="restaurant-photos-filter"></div>
    <button type="button" class="btn btn-onimage" data-toggle="modal" data-target="#exampleModalCenter">
      <i class="fas fa-camera"></i> Toutes les photos
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div id="carouselExampleControls" class="carousel slide" interval="false" data-ride="carousel">
              <div class="carousel-inner">
                <% @restaurant.reviews.map{ |r| r.photos }.flatten.each_with_index do |photo, i| %>
                  <div class="carousel-item <%= 'active' if i == 0 %>">
                    <%= cl_image_tag photo.key, class: "d-block w-100" %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <p class="text-left">Photos de <%= @restaurant.name %> (<%= @restaurant.reviews.map{|r| r.photos}.flatten.count %>)</p>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
          </div>
        </div>
      </div>
    </div>
    <% if @restaurant.reviews.map{ |r| r.photos.all }.flatten.count > 2 %>
      <% @restaurant.reviews.map{ |r| r.photos.all }.flatten.take(3).each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill %>
      <% end %>
    <% else %>
      <div style="height: 22vw; width: 100%; background-color: rgb(200, 200, 200); border: 1px solid white; text-align: center">PLACEHOLDER</div>
      <div style="height: 22vw; width: 100%; background-color: rgb(200, 200, 200); border: 1px solid white; text-align: center">PLACEHOLDER</div>
      <div style="height: 22vw; width: 100%; background-color: rgb(200, 200, 200); border: 1px solid white; text-align: center">PLACEHOLDER</div>
    <% end %>
  </div>
  <div class="container-md">
    <div class="card-parallax">
      <h1><%= @restaurant.name %></h1>
      <div><%= @restaurant.address %></div>
      <span><%= @restaurant.restaurant_category.name %></span> -
      <span><%= @restaurant.poutine_price %> $ (poutine classique)</span><br>
      <% if @restaurant.user == current_user %>
        <div>
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_restaurant_path(@restaurant) %>
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-lg-9">
      <div class="review-container">
        <div class="pl-4 border-bottom">
          <h2>Avis (<%= @restaurant.reviews.count %>)</h2>
          <% unless @restaurant.reviews.blank? %>
            <p class="text-secondary mt-3">Moyenne:

              <span
              class='global-rating'
              style='background-color:
                <% if @restaurant_global_rating < 5 %>
                  <%= "red" %>
                <% elsif @restaurant_global_rating < 7 %>
                  <%= 'orange' %>
                <% else %>
                  <%= 'green' %>
                <% end %>
              '><%= @restaurant_global_rating %>/10</span>

              <span class="text-secondary">Frites <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
              <span class="text-secondary">Fromage <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
              <span class="text-secondary">Sauce <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
              <span class="text-secondary">Service <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            </p>
          <% end %>


          <form class="form-inline my-3">
            <label class="sr-only" for="inlineFormInputName2">Mot-clé</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Mot-clé">

            <button type="submit" class="btn btn-secondary mb-2">Rechercher les avis</button>
          </form>

        </div>


        <% if @reviews.blank? %>
          <p>Sois la première personne à donner ton opinion sur leur poutine!</p>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="card-review">
              <div class="container-md">
              <div class="row justify-content-center">
              <div data-id=<%= review.id %> class="col-3 col-md-2 card-review-info text-center <%= "card-review-info-personal" unless review.user == current_user %>">
                <div>
                  <% if review.user.photo.attached? %>
                    <%= cl_image_tag review.user.photo.key, class: "img-circle" %>
                  <% else %>
                    <%= image_tag 'person-placeholder.jpg', class: "img-circle" %>
                  <% end %>
                </div>
                <div>
                  <%= review.user.first_name %> <%= review.user.last_name %>
                </div>
                <div>
                  <%= review.user.reviews.count %> avis
                </div>

                <div class="upvote-section">
                  <% unless review.user == current_user %>
                    <div class="form-review-upvotes" id="upvotes-<%= review.id %>">
                      <%= simple_form_for(review, remote: true) do |f| %>
                        <%= f.input :irrelevant, collection: (1..1).to_a, selected: 1, input_html: {class:"d-none hidden"} %>
                        <%= f.hidden_field :up_enabled, value: 'true', id: 'upEnabled-' + review.id.to_s %>
                        <%= button_tag :submit,
                        class: "btn-vote btn-upvote",
                        name: "vote_type",
                        value: "upvote",
                        disabled: (true if review.user == current_user) do %>
                          <i class="fas fa-thumbs-up"></i>
                        <% end %>
                      <% end %>
                      <span class="no-upvotes"><%= review.upvotes %></span>
                      <%= simple_form_for(review, remote: true) do |f| %>
                        <%= f.hidden_field :down_enabled, value: 'true', id: 'downEnabled-' + review.id.to_s %>
                        <%= f.input :irrelevant, collection: (1..1).to_a, selected: 1, input_html: {class:"d-none hidden"} %>
                        <%= button_tag :submit,
                        class: "btn-vote btn-downvote",
                        name: "vote_type",
                        value: "downvote",
                        disabled: (true if review.user == current_user) do %>
                          <i class="fas fa-thumbs-down"></i>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                  </div>

                </div>
                  <div class="col-9 col-md-10 card-review-body">
                    <h3>

                      <span
                      class='global-rating'
                      style='background-color:
                        <% if review.global_rating < 5 %>
                          <%= "red" %>
                        <% elsif review.global_rating < 7 %>
                          <%= 'orange' %>
                        <% else %>
                          <%= 'green' %>
                        <% end %>
                      '><%= review.global_rating %>/10</span>

                      <%= review.title %>
                    </h3>
                    <p class="my-3">
                      <% if review.user == current_user %>
                        <span class="mr-2">
                          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_review_path(review) %>
                          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, review_path(review), method: :delete, data: { confirm: "Are you sure?" } %>
                        </span>
                      <% end %>
                      <span class="misc-ratings">
                        Publié le <%= review.created_at.to_s[0..10].gsub('-', '/') %>
                        - <span class='misc-rating'>Frites <%= '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe * review.fries_rating if review.fries_rating %></span>
                         - <span class='misc-rating'>Fromage <%= '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe * review.cheese_rating if review.cheese_rating %></span>
                         - <span class='misc-rating'>Sauce <%= '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe * review.sauce_rating if review.sauce_rating %></span>
                         - <span class='misc-rating'>Service <%= '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe * review.service_rating if review.service_rating %></span>
                      </span>
                    </p>
                    <p>
                      <% if review.body.length >= 1000 %>
                        <span class="teaser">
                          <%= truncate(review.body, :length => 1000, :separator => ' ') %>
                        </span>
                        <span class="complete"><%= review.body %></span>
                        <span class="more">more...</span>
                      <% else %>
                        <span><%= review.body %></span>
                      <% end %>
                    </p>

                    <% if review.photos.count.odd?%>
                      <div class="review-photos review-photos-odd">
                        <% review.photos.each do |photo| %>
                          <div class="review-photo">
                            <%= cl_image_tag photo.key, height: 480, width: 640, crop: :fill %>
                          </div>
                        <% end %>
                      </div>
                    <% else  %>
                      <div class="review-photos review-photos-even">
                        <% review.photos.each do |photo| %>
                          <div class="review-photo">
                            <%= cl_image_tag photo.key, height: 480, width: 640, crop: :fill %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    <div class="col-12 col-lg-3">
      <div class="show-sidebar">
        <div class="p-3 border">
          <p><i class=" mr-2 fas fa-map-marker-alt"></i><%= @restaurant.address %></p>
          <p><i class=" mr-1 fas fa-phone"></i> (514) 449-5639 </p>
          <p><i class=" mr-2 fas fa-globe"></i><a href="www.google.com">Voir le site</a></p>
          <div id="map"
               style="flex-grow: 1; width: 100%; height: 200px;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
        <div class="p-3 mt-3 text-center card-side-info">
          <h5 class="text-black">Combien notes-tu cette poutine?</h5>
          <%= link_to 'Donne ton avis', new_restaurant_review_path(@restaurant, @review), class: "btn btn-main-action w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>
